<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="testSections">
      <section name="goodOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions" allowDefinition="Everywhere"/>
      <section name="badOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <testSections>
    <goodOverrides>
      <facilityOverrides>
        <add assemblyName="Huengsberg.CodedExceptions, Culture=fr-fr" identifier="39"/>
        <add assemblyName="Huengsberg.CodedExceptions, Version=9.9.9.9" identifier="40"/>
        <add assemblyName="Huengsberg.CodedExceptions, PublicKeyToken=a1b2d3e4f567890c" identifier="41"/>
        <add assemblyName="Huengsberg.CodedExceptions" identifier="42"/>
        <add assemblyName="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="17"/>
        <add assemblyName="System.Data, Version=4.0.0.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="71"/>
        <add assemblyName="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="72"/>
      </facilityOverrides>
    </goodOverrides>
    <badOverrides>
      <facilityOverrides>
        <add assemblyName="Huengsberg.CodedExceptions" identifier="baaad"/>
      </facilityOverrides>
    </badOverrides>
  </testSections>
</configuration>
