<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="nerdyDuck">
            <section name="codedExceptions" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <nerdyDuck>
        <codedExceptions>
            <facilityOverrides>
                <add assemblyName="NerdyDuck.CodedExceptions" identifier="17"/> <!-- Changes facility identifier of all versions of NerdyDuck.CodedExceptions.dll to 17 -->
                <add assemblyName="ThirdParty.Library, Version=1.2.0.0" identifier="18"/> <!-- Changes facility identifier of version 1.2 of ThirdParty.Library.dll to 18 -->
            </facilityOverrides>
        </codedExceptions>
    </nerdyDuck>
</configuration>
